@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
   display: none;
}
  
.scrollbar-hide {
   -ms-overflow-style: none;  
   scrollbar-width: none;  
}


html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
